* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ford Antenna Extra Light',Arial, Helvetica, sans-serif;
  font-weight: 900; }

body {
  max-width: 1400px;
  height: 100vh;
  padding: 0;
  margin: 0 auto; }

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100vw;
  max-width: 1400px;
  left: 50%;
  transform: translate(-50%, 0%); }
  header .navbar {
    position: relative;
    background-color: white; }
    header .navbar .navbar-brand img {
      width: 85px;
      height: 85px; }
    @media screen and (max-width: 800px) {
      header .navbar .navbar-collapse {
        font-size: 13px; } }
    header .navbar .navbar-collapse .navbar-nav {
      border: none; }
      header .navbar .navbar-collapse .navbar-nav .nav-item {
        margin: 0px 7px; }
        header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
          display: block;
          border: none;
          color: #3C96C5;
          padding: 28px 10px; }
          @media screen and (max-width: 800px) {
            header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
              padding: 28px 5px; } }
          header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link i {
            font-size: 24px;
            transform: translateY(4px);
            margin-right: 10px; }
            @media screen and (max-width: 800px) {
              header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link i {
                font-size: 20px; } }
          header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link span {
            font-size: 13px;
            display: none; }
            @media screen and (min-width: 1100px) {
              header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link span {
                display: inline; } }
          header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link.dropdown-toggle::after {
            display: none; }
        header .navbar .navbar-collapse .navbar-nav .nav-item.show {
          outline: 1px solid #3C96C5; }
        header .navbar .navbar-collapse .navbar-nav .nav-item button:focus {
          outline: 1px solid #3C96C5;
          box-shadow: none; }
      header .navbar .navbar-collapse .navbar-nav.nav-left .nav-item .dropdown-menu {
        width: 100vw;
        max-width: 1400px;
        margin: 0 auto;
        padding: 0;
        display: block;
        position: fixed;
        top: 86px;
        left: 50%;
        transform: translate(-50%, -103%);
        z-index: -1;
        border-radius: 0;
        border: 0;
        background-color: white;
        transition: transform 0.5s linear; }
        header .navbar .navbar-collapse .navbar-nav.nav-left .nav-item .dropdown-menu.show {
          transform: translate(-50%, 0); }
        header .navbar .navbar-collapse .navbar-nav.nav-left .nav-item .dropdown-menu .nav-tabs {
          background-color: #F7F7F7; }
          header .navbar .navbar-collapse .navbar-nav.nav-left .nav-item .dropdown-menu .nav-tabs .nav-item {
            position: relative; }
            header .navbar .navbar-collapse .navbar-nav.nav-left .nav-item .dropdown-menu .nav-tabs .nav-item .nav-link {
              font-size: 14px;
              color: #3C96C5;
              padding: 20px 10px;
              border-radius: 0; }
              header .navbar .navbar-collapse .navbar-nav.nav-left .nav-item .dropdown-menu .nav-tabs .nav-item .nav-link::after {
                content: '';
                display: block;
                width: 0;
                position: absolute;
                bottom: 0;
                left: -5%;
                height: 3px;
                background-color: #3C96C5;
                transition: width 0.3s linear; }
              header .navbar .navbar-collapse .navbar-nav.nav-left .nav-item .dropdown-menu .nav-tabs .nav-item .nav-link:hover::after {
                width: 110%; }
              header .navbar .navbar-collapse .navbar-nav.nav-left .nav-item .dropdown-menu .nav-tabs .nav-item .nav-link:focus {
                border-left: 1px solid #333333;
                border-right: 1px solid #333333; }
              header .navbar .navbar-collapse .navbar-nav.nav-left .nav-item .dropdown-menu .nav-tabs .nav-item .nav-link.active {
                color: #333333;
                background-color: #F7F7F7; }
                header .navbar .navbar-collapse .navbar-nav.nav-left .nav-item .dropdown-menu .nav-tabs .nav-item .nav-link.active::after {
                  width: 90%;
                  left: 5%;
                  background-color: #333333; }
        header .navbar .navbar-collapse .navbar-nav.nav-left .nav-item .dropdown-menu .tab-content .active {
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
          padding: 20px;
          margin: 25px 50px; }
          header .navbar .navbar-collapse .navbar-nav.nav-left .nav-item .dropdown-menu .tab-content .active .card {
            width: 120px;
            margin: 0 25px; }
            header .navbar .navbar-collapse .navbar-nav.nav-left .nav-item .dropdown-menu .tab-content .active .card h6 {
              font-size: 15px;
              color: #3C96C5;
              margin: 0; }
            header .navbar .navbar-collapse .navbar-nav.nav-left .nav-item .dropdown-menu .tab-content .active .card p {
              font-size: 14px;
              color: #868686; }
        header .navbar .navbar-collapse .navbar-nav.nav-left .nav-item .dropdown-menu .menu-footer {
          border-top: 1px solid #A7A7A7; }
          header .navbar .navbar-collapse .navbar-nav.nav-left .nav-item .dropdown-menu .menu-footer button {
            color: #3C96C5;
            border: 1px solid #3C96C5;
            border-radius: 0;
            padding: 10px 38px; }
      header .navbar .navbar-collapse .navbar-nav.nav-left .nav-item::after {
        content: '';
        display: none;
        position: fixed;
        top: 0;
        left: -100%;
        right: -100%;
        z-index: -2;
        height: 100vh;
        background-color: black;
        opacity: 0.5; }
      header .navbar .navbar-collapse .navbar-nav.nav-left .nav-item.show::after {
        display: block; }
      header .navbar .navbar-collapse .navbar-nav.nav-left .nav-item.show .nav-link {
        color: black; }
      header .navbar .navbar-collapse .navbar-nav.nav-left .nav-item .dropdown-menu .container.d-flex {
        max-width: 100vw;
        width: 100%;
        padding: 0 28px 10px 78px;
        margin: 50px 0;
        border-bottom: 1px solid #A7A7A7; }
        header .navbar .navbar-collapse .navbar-nav.nav-left .nav-item .dropdown-menu .container.d-flex .d-flex.flex-column {
          margin-right: 25px; }
          header .navbar .navbar-collapse .navbar-nav.nav-left .nav-item .dropdown-menu .container.d-flex .d-flex.flex-column * {
            padding-left: 0; }
          header .navbar .navbar-collapse .navbar-nav.nav-left .nav-item .dropdown-menu .container.d-flex .d-flex.flex-column .dropdown-item-text {
            font-size: 21px;
            color: #6F6F6F;
            border-bottom: 1px solid #A7A7A7;
            padding-bottom: 10px;
            margin-bottom: 10px; }
          header .navbar .navbar-collapse .navbar-nav.nav-left .nav-item .dropdown-menu .container.d-flex .d-flex.flex-column .dropdown-item {
            font-size: 14px;
            color: #3C96C5;
            padding: 10px 0;
            font-weight: 600; }
      header .navbar .navbar-collapse .navbar-nav.nav-right .nav-item::after {
        content: '';
        display: none;
        position: fixed;
        top: 0;
        left: -100%;
        right: -100%;
        z-index: -2;
        height: 100vh;
        background-color: black;
        opacity: 0.5; }
      header .navbar .navbar-collapse .navbar-nav.nav-right .nav-item.show::after {
        display: block; }
      header .navbar .navbar-collapse .navbar-nav.nav-right .nav-item .dropdown-menu {
        border-radius: 0; }
        header .navbar .navbar-collapse .navbar-nav.nav-right .nav-item .dropdown-menu .dropdown-item {
          font-size: 13px;
          color: #3C96C5;
          font-weight: bold; }
          header .navbar .navbar-collapse .navbar-nav.nav-right .nav-item .dropdown-menu .dropdown-item:nth-child(1) {
            border-bottom: 1px solid #A7A7A7; }
        header .navbar .navbar-collapse .navbar-nav.nav-right .nav-item .dropdown-menu.signin {
          left: unset;
          right: 0;
          padding: 0 28px; }
          header .navbar .navbar-collapse .navbar-nav.nav-right .nav-item .dropdown-menu.signin .dropdown-item {
            padding: 10px 78px 10px 10px; }
        header .navbar .navbar-collapse .navbar-nav.nav-right .nav-item .dropdown-menu.language {
          min-width: unset;
          padding: 5px 20px; }
          header .navbar .navbar-collapse .navbar-nav.nav-right .nav-item .dropdown-menu.language .dropdown-item {
            padding: 10px 5px; }
            header .navbar .navbar-collapse .navbar-nav.nav-right .nav-item .dropdown-menu.language .dropdown-item:nth-child(1) {
              color: #6F6F6F; }
      header .navbar .navbar-collapse .navbar-nav.nav-right .nav-item .nav-link:focus span {
        color: black; }

.modal#searchModal {
  z-index: 10000; }
  .modal#searchModal .modal-dialog {
    max-width: unset;
    position: unset; }
    .modal#searchModal .modal-dialog .modal-content {
      width: 100vw;
      position: fixed;
      top: 0;
      left: 0;
      border-radius: 0; }
      .modal#searchModal .modal-dialog .modal-content .modal-header {
        border-bottom: none; }
        .modal#searchModal .modal-dialog .modal-content .modal-header .close {
          font-size: 44px;
          font-weight: 100; }
      .modal#searchModal .modal-dialog .modal-content .modal-body {
        margin: 0 60px;
        margin-bottom: 70px; }
        .modal#searchModal .modal-dialog .modal-content .modal-body .modal-title {
          font-size: 13px;
          color: #A7A7A7;
          margin-bottom: 2px;
          margin-left: 10px; }
          .modal#searchModal .modal-dialog .modal-content .modal-body .modal-title i {
            font-size: 24px;
            margin-right: 10px; }
        .modal#searchModal .modal-dialog .modal-content .modal-body .input-search {
          border: 1px solid #3C96C5;
          width: 100%;
          height: 75px;
          align-items: center;
          background-color: white; }
          .modal#searchModal .modal-dialog .modal-content .modal-body .input-search input {
            width: 95%;
            height: 73px;
            border: none;
            font-size: 40px;
            font-weight: 900;
            outline: none; }
          .modal#searchModal .modal-dialog .modal-content .modal-body .input-search i {
            font-size: 34px;
            font-weight: 100;
            color: #3C96C5; }
          .modal#searchModal .modal-dialog .modal-content .modal-body .input-search:hover {
            border: none; }
      .modal#searchModal .modal-dialog .modal-content .modal-footer {
        border-top: none;
        position: absolute;
        top: 100%;
        left: 0%; }
        .modal#searchModal .modal-dialog .modal-content .modal-footer div:nth-child(2) {
          border-left: 1px solid #A7A7A7; }
        .modal#searchModal .modal-dialog .modal-content .modal-footer p {
          color: white;
          font-size: 20px; }
        .modal#searchModal .modal-dialog .modal-content .modal-footer ul {
          list-style: none; }
          .modal#searchModal .modal-dialog .modal-content .modal-footer ul li {
            margin-bottom: 25px; }
            .modal#searchModal .modal-dialog .modal-content .modal-footer ul li a {
              font-size: 13px;
              color: #3C96C5;
              text-decoration: none; }

.modal-backdrop.show {
  background-color: black;
  opacity: 0.8; }

@font-face {
  font-family: 'Ford Antenna Extra Light';
  src: url("FordAntenna-ExtraLight.eot");
  src: url("FordAntenna-ExtraLight.eot?#iefix") format("embedded-opentype"), url("FordAntenna-ExtraLight.woff") format("woff"), url("FordAntenna-ExtraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.cover {
  margin-top: 85px;
  background-image: url(../img/cover.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 650px;
  cursor: pointer; }
  .cover .cover-title {
    text-align: center;
    color: white;
    padding-top: 25px; }
    .cover .cover-title h1 {
      font-weight: 900; }

.intro {
  background-image: url(../img/intro.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 650px;
  cursor: pointer; }
  @media screen and (max-width: 1300px) {
    .intro {
      height: 50vh; } }
  .intro .content {
    color: #6F6F6F;
    text-align: center;
    margin-top: 50px; }
    .intro .content h1 {
      font-weight: 900; }
    .intro .content p {
      font-size: 20px; }
    .intro .content button {
      width: 250px;
      height: 45px;
      background-color: #3C96C5;
      color: white;
      border: 1px solid #3C96C5; }
  .intro:hover .content button {
    background-color: white;
    color: #3C96C5; }

.video {
  margin-top: 150px; }
  .video .video-title {
    text-align: center; }
    .video .video-title h1 {
      font-weight: 900; }
    .video .video-title .content {
      margin: 25px; }
      .video .video-title .content p {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 0; }
  .video .video-content {
    position: relative; }
    .video .video-content .video-img {
      margin: 50px auto; }
      .video .video-content .video-img img {
        width: 80%;
        height: 100%; }
    .video .video-content .play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 100px;
      color: white; }
      .video .video-content .play i {
        font-weight: 100; }

.sales {
  margin-top: 100px; }
  .sales .offer {
    cursor: pointer;
    position: relative; }
    .sales .offer img {
      width: 100%; }
    .sales .offer .offer-content {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      text-align: center; }
      .sales .offer .offer-content h1 {
        font-weight: 900; }
      .sales .offer .offer-content p {
        margin-top: 50px;
        font-size: 14px;
        font-weight: 100; }
        .sales .offer .offer-content p span {
          margin-left: 10px;
          font-size: 15px;
          margin-top: 10px; }
  .sales .build-price {
    position: relative; }
    .sales .build-price img {
      width: 100%; }
    .sales .build-price .build-price-content {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      text-align: center; }
      .sales .build-price .build-price-content h1 {
        font-weight: 900; }
      .sales .build-price .build-price-content button {
        width: 100%;
        height: 50px;
        color: white;
        background-color: #3C96C5;
        border: 1px solid #3C96C5;
        font-weight: 100; }
        .sales .build-price .build-price-content button:hover {
          border-color: black; }

.news {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%; }
  .news .news-title {
    grid-column: 1/4;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center; }
    .news .news-title div {
      text-align: center; }
      .news .news-title div h2 {
        font-size: 24px;
        font-weight: 900; }
      .news .news-title div p {
        font-size: 14px;
        font-weight: 800;
        color: #6F6F6F; }
  .news .news-item {
    position: relative;
    cursor: pointer;
    overflow: hidden; }
    .news .news-item img {
      width: 100%;
      transition: all 0.2s linear; }
    .news .news-item:nth-child(2) {
      grid-column: 4/5;
      grid-row: 1/2; }
    .news .news-item:nth-child(3) {
      grid-column: 1/3;
      grid-row: 2/4; }
    .news .news-item:nth-child(4) {
      grid-column: 3/4;
      grid-row: 2/3; }
    .news .news-item:nth-child(5) {
      grid-column: 4/5;
      grid-row: 2/3; }
    .news .news-item:nth-child(6) {
      grid-column: 3/4;
      grid-row: 3/4; }
    .news .news-item:nth-child(7) {
      grid-column: 4/5;
      grid-row: 3/4; }
    .news .news-item .news-item-content {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      color: white;
      background-color: rgba(60, 150, 197, 0.6);
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .news .news-item .news-item-content p {
        font-size: 11px;
        font-weight: 100;
        margin: 15px 10px; }
      .news .news-item .news-item-content button {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        color: white;
        background-color: unset;
        border: 2px solid white;
        font-size: 20px;
        margin-right: 10px;
        font-weight: 900;
        line-height: 20px; }
        .news .news-item .news-item-content button:hover {
          background-color: white;
          color: #3C96C5; }
    .news .news-item:hover img {
      transform: scale(1.1); }

.airbag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  background-color: #F7F7F7;
  color: #D92E14; }
  .airbag .airbag-content {
    text-align: center; }
    .airbag .airbag-content h1 {
      font-weight: 900; }
    .airbag .airbag-content button {
      width: 90%;
      height: 50px;
      margin-top: 25px;
      color: white;
      background-color: #D92E14;
      border: 1px solid #D92E14;
      font-weight: 100;
      font-size: 15px; }
      .airbag .airbag-content button:hover {
        background-color: white;
        color: #D92E14; }

.disclosure {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .disclosure p {
    font-size: 13px;
    font-weight: 500;
    color: #3C96C5;
    margin-right: 8px; }
    .disclosure p:nth-child(2) {
      transform: rotate(90deg);
      font-size: 20px; }

.footer .footer-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #333333; }
  .footer .footer-search .search-input {
    margin-left: 80px;
    color: white; }
    .footer .footer-search .search-input i {
      font-size: 24px;
      margin-right: 10px; }
    .footer .footer-search .search-input input {
      background-color: #333333;
      border: none;
      font-size: 20px;
      outline: none;
      color: white;
      letter-spacing: 1px; }
      .footer .footer-search .search-input input::placeholder {
        color: white; }
  .footer .footer-search .car-type {
    margin-right: 50px; }
    .footer .footer-search .car-type ul li {
      display: inline-block;
      color: #A7A7A7;
      font-size: 13px;
      font-weight: 100;
      padding-top: 20px;
      margin: 0 7px;
      cursor: pointer; }
    .footer .footer-search .car-type ul .active {
      color: white;
      cursor: default;
      font-weight: 900; }

/*# sourceMappingURL=style.css.map */
