.footer{
    .footer-search{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        background-color: $color-black-0;
        .search-input{
            margin-left: $mg-3 + 30;
            color: white;
            i{
                font-size: $fs-3;
                margin-right: $mg-1;
            }
            input{
                background-color: $color-black-0;
                border: none;
                font-size: $fs-2;
                outline: none;
                color: white;
                letter-spacing: 1px;
                &::placeholder{
                    color: white;
                }
            }
        }
        .car-type{
            margin-right: $mg-3 + 30px;
            ul{
                li{
                    display: inline-block;
                    color: $color-gray-0;
                    font-size: $fs-1; 
                    font-weight: 100;
                    padding-top: $pd-2;
                    margin: 0 $mg-1 - 5;
                    cursor: pointer;
                }
                .active{
                    color: white;
                    cursor: default;
                    font-weight: 900;
                }
            }
        }
    }
    .footer-menu{
        display: flex;
        justify-content: center;
        padding-top: $pd-3 + 10px;
        padding-bottom: $pd-3 + 60px;
        padding-left: $pd-3;
        background-color: $color-black-1;
        .footer-menu-item{
            ul{
                list-style: none;
                .item-title{
                    color: white;
                    font-size: $fs-1 + 2px;
                    font-weight: 100;
                    margin-bottom: $mg-2;
                    padding-right: $pd-3 + 75px;
                }
                .item-list{
                    a{
                        display: block;
                        color: $color-gray-0;
                        font-size: $fs-1 + 1;
                        font-weight: 100;
                        text-decoration: none;
                        padding-right: $pd-3 + 75px;
                        padding-bottom: $pd-1;
                    }
                    &:hover{
                            a{
                                color: white;
                            }
                        }
                }
                @media screen and (max-width: 1100px ){
                    .item-title{
                        padding-right: $pd-2;
                    }
                    .item-list{
                        a{
                            padding-right: $pd-2;
                        }
                    }
                }
            }
            
        }
    }
    .footer-contact{
        height: 120px;
        background-color: $color-blue-1;
        .getupdate{
            color: $color-blue-0;
            margin-left: $mg-3;
            .icon{
                color: white;
                background-color: $color-blue-0;
                width: 35px;
                height: 35px;
                border-radius: 100%;
                position: relative;
                margin-right: $mg-1;
                i{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
            }
            p{
                margin: 0;
            }
        }        
        .thought{
            color: $color-blue-0;
            margin-left: $mg-3;
            .icon{
                color: white;
                background-color: $color-blue-0;
                width: 35px;
                height: 35px;
                border-radius: 100%;
                position: relative;
                margin-right: $mg-1;
                i{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
            }
            p{
                margin: 0;
            }
        }
        .contact{
            margin-left: auto;
            margin-right: $mg-3 + 50px;
            color: white;
            display: flex;
            .title{
                font-size: $fs-1 - 1px;
                font-weight: 100;
                margin-right: $mg-2;
            }
            ul{
                list-style: none;
                margin-bottom: 0;
                .icon{
                    display: inline-block;
                    .icon-bg{
                        width: 35px;
                        height: 35px;
                        border-radius: 100%;
                        position: relative;
                        i{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            font-style: normal;
                        }
                    }
                    &:nth-child(1){
                        background-color: #3D599B;
                    }
                    &:nth-child(2){
                        background-color: #1DA2F3;
                    }
                    &:nth-child(3){
                        background-color: #FF0100;
                    }
                    &:nth-child(4){
                        background-color: #DC2C75;
                    }
                    &:nth-child(5){
                        background-color: #2E97CE;
                        font-size: $fs-1 - 1;
                    }
                }
            }
            @media screen and (max-width: 1100px ){
                display: block;
            }
        }
    }
    .footer-nav{
        background-color: $color-white-cream;
        border: 1px solid #e7e7e7;
        .lang-logo{
            .language{
                i{
                    font-size: $fs-3 + 3;
                    color: $color-blue-0;
                    margin-right: $mg-2;
                }
                a{
                    font-size: $fs-1;   
                    color: $color-blue-0;
                    text-decoration: underline;
                }
                &:hover {
                    i{
                        color: black;
                    }
                    a{
                        color: black;
                    }
                }
            }
            .logo{
                cursor: pointer;
                a{
                    font-size: $fs-1 - 2;
                    color: $color-black-0;
                    margin-left: $mg-1;
                    text-decoration: none;
                }
            }
        }
        .nav{
            margin-left: $mg-3;

            ul{
                list-style: none;
                li{
                    display: inline-block;
                    a{
                        font-size: $fs-1 - 1;
                        color: black;
                        font-weight: 100;
                        padding-right: $pd-3 + 10px;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}