.intro{
    background-image: url(../img/intro.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 650px;
    @media screen and (max-width: 1300px ){
        height: 50vh;
    }
    cursor: pointer;
    .content{
        color: $color-gray-3;
        text-align: center;
        margin-top: $mg-3;
        h1{
            font-weight: 900;
        }
        p{
            font-size: $fs-2;
        }
        button{
            width: 250px;
            height: 45px;
            background-color: $color-blue-0;
            color: white;
            border: 1px solid $color-blue-0;
        }
    }
    &:hover{
        .content{
            button{
                background-color: white;
                color: $color-blue-0;
            }
        }
    }
}