// variable color

$color-white-0:#F2FFFF;
$color-white-cream: #F7F7F7;
$color-blue-0:#3C96C5;
$color-blue-1: #102B4E;
$color-gray-0: #A7A7A7;
$color-gray-1: #969696;
$color-gray-2: #868686;
$color-gray-3: #6F6F6F;
$color-black-0: #333333;
$color-black-1: #242424;
$color-black-3: #010101;

// variable font-size
$fs-0: 15px; //default
$fs-1: 13px;
$fs-2: 20px;
$fs-3: 24px;
//Còn 1 font-size: 36px;
$fs-4: 40px;

//variable margin
$mg-0: 2px;
$mg-1: 10px;
$mg-2: 25px;
$mg-3: 50px;

//variable border-radius
$border-radius: 2px;

//variable padding
$pd-0: 5px; //default
$pd-1: 10px;
$pd-2: 20px;
$pd-3: 28px;

//variable line-height
$line-height-0: 1.43; //default


//variable font-weight
$fw-normal: normal;
$fw-bold-0: 600;
$fw-bold-1: 700;
$fw-bold: bold;


//break points
$breakpoints:(
    'extra-large': 1200px,
    'large' : 992px,
    'medium' : 768px,
    'small' : 576px,
)